*.iml
.gradle
/local.properties
.idea
/.idea/workspace.xml
/.idea/libraries
.DS_Store
app/build
app/release
app/google-services.json
app/google-services.new
/build
/captures

#ignore ricavati da questa pagina http://stackoverflow.com/questions/16736856/what-should-be-in-my-gitignore-for-an-android-studio-project
*.apk
*.ap_
*.ipr
.idea
/.project